<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand">
    <%= link_to image_tag("little_rocket_man_logo.png"), root_path %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
    <%= render 'components/search' %>
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Search Trip</a> -->


    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a> -->

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://images.pexels.com/photos/41952/neil-armstrong-armstrong-astronaut-space-suit-41952.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if user_signed_in? %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "New Trip", rockets_path %></li>
          <li><%= link_to "Signout", destroy_user_session_path, method: :delete %> </li>
          <% else %>
          <%= link_to "Sign in", new_user_session_path %>

          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
