<h1>Add a new renter</h1>

<%= simple_form_for [@user, @renter] do |f| %>
  <%= f.input :first_name, label: "Enter your first name" %>
  <%= f.input :last_name, label: "Enter your last name" %>
  <%= f.input :country, label: "Enter your country" %>
  <%= f.button :submit %>
<% end %>


