<div class="container-fluid">
  <div class="row push-footer">
    <div class="col-lg-12">
      <div class="top-index-rocket">
        <div class="col-xs-12 col-sm-6">
        <div class="left-top-index-rocket">
          <div class="icon-title">
            <i class="fas fa-user-astronaut"></i>
          </div>
          <div class="title border-bottom">
            <h1>All bookings for <%= @rocket.name %> rocket</h1>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="right-top-index-rocket indent-correction">
          <div class="title">
            <%= link_to "Make a new booking", rockets_path, class: "button" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <% @rocket.bookings.each do |booking| %>
          <div class="card-block col-xs-12 col-sm-6 col-md-4">
            <div class="card-block-design">
              <div class="card-img-bckgrd" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-title"><%= booking.departure_date %></div>
                <div class="card-description"><%= link_to "#{booking.user.renter.first_name} #{booking.user.renter.last_name}", user_path(booking.user) %></div>
                <% if current_user.renter? %>
                  <div class="card-trash">  <i><%= link_to "",rocket_booking_path(@rocket.id, booking.id), method: :delete,
                    data: { confirm: "Are you sure?"}, class: "fas fa-trash" %></i>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="bottom-index-rocket">
  </div>
</div>










