<div class="container">

  <div class="row">
    <div class="col-10 col-md-5">
      <p>Please check your details below:</p>
      <div class="renter_show">
        <% if current_user.renter? %>
          <p>This are your renter details:</p>
          <ul>
            <li>First Name: <%= current_user.renter.first_name %></li>
            <li>Last name: <%= current_user.renter.last_name %></li>
            <li>Country: <%= current_user.renter.country %></li>
          </ul>
          <%= link_to "Correct your details", edit_user_renter_path(current_user),  class: "button" %>

          <p>This are your bookings:</p>
          <% current_user.bookings.each do |booking| %>
          <ul>
            <li><%= booking.departure_date %></li>
            <li><%= booking.rocket.name %></li>
          </ul>
          <% end %>
        <% else %>
          <%= link_to "Create your renters profile", new_user_renter_path(current_user) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-md-5">
      <div class="owner_show"></div>
        <% if current_user.owner? %>
          <p>This are your owner details:</p>
          <p>Company: <%= current_user.owner.company %></p>
          <%= link_to "Edit", edit_user_owner_path(current_user), class: "button" %>
            <p>This are the bookings for your rockets:</p>
            <% @rentings.each do |renting| %>


              <ul>
                <li><%= renting.departure_date %></li>
                <li><%= renting.rocket.name %></li>
              </ul>
              <% end %>
        <% else %>
          <%= link_to "Create your owner profile", new_user_owner_path(current_user) %>
        <% end %>
      </div>
      <h2>Ready to search for trips? Check out our rockets!</h2>
    <%= link_to "Add a trip", rockets_path, class: "button" %>
    </div>
  </div>
</div>
