<div class="container-fluid">
  <div class="row push-footer">
    <div class="col-md-12">
      <div class="row top-index-rocket">
        <div class="col-xs-12 col-sm-6">
          <div class="left-top-index-rocket">
            <div class="icon-title">
              <i class="fas fa-user-astronaut"></i>
            </div>
            <div class="title">
              <h1>All destinations</h1>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="right-top-index-rocket">
            <%= link_to "Create a new one", new_rocket_path, class: "button" %>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @rockets.blank? %>
        There's no such destination.
        <%= link_to " Check all our available destinations", rockets_path %>
        <% else %>
        <% @rockets.each do |rocket| %>
        <div class="card-block col-xs-12 col-sm-6 col-md-4">
          <% if rocket.photo.blank? %>
          <div class="card-block-design">
            <div class="card-img-bckgrd" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= asset_path  'back_up_rocket_index.jpg' %>)">
              <div class="card-title"><%= link_to rocket.destination.capitalize, rocket_path(rocket) %></div>
              <div class="card-description"><%= link_to rocket.name.capitalize, rocket_path(rocket) %></div>
              <div class="card-action button"> <%= link_to "Book Now", new_rocket_booking_path(rocket) %></div>
              <div class="card-trash">  <i><%= link_to "", rocket_path(rocket),
              method: :delete,
              data: { confirm: "Are you sure?"}, class: "fas fa-trash" %></i></div>
            </div>
          </div>
          <% else %>
          <div class="card-block-design">
            <div class="card-img-bckgrd" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= rocket.photo %>')">
              <div class="card-title"><%= link_to rocket.destination.capitalize, rocket_path(rocket) %></div>
              <div class="card-description"><%= link_to rocket.name.capitalize, rocket_path(rocket) %></div>
              <div class="card-action button"> <%= link_to "Book Now", new_rocket_booking_path(rocket) %></div>
              <div class="card-trash">  <i><%= link_to "", rocket_path(rocket),
              method: :delete,
              data: { confirm: "Are you sure?"}, class: "fas fa-trash" %></i></div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="bottom-index-rocket">
        <%= link_to " Check all our available destinations", rockets_path %>
      </div>
    </div>
  </div>
</div>
</div>
