<div class="container-fluid">
  <div class="row push-footer">
    <div class="col-md-12">
      <div class="row top-index-rocket">
        <div class="col-xs-12 col-sm-6">
          <div class="left-top-index-rocket">
            <div class="icon-title">
              <i class="fas fa-user-astronaut"></i>
            </div>
            <div class="title">
              <h1>My Rocket</h1>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="right-top-index-rocket">
            <div class="right-top-action"> <%= link_to "Create a new one", new_rocket_path, class: "button" %></div>
            <div class="right-top-action"> <i> <%= link_to "", edit_rocket_path, class: "fas fa-edit right-top-icons"  %></i></div>
            <div class="right-top-action">  <i><%= link_to "", rocket_path,
            method: :delete,
            data: { confirm: "Are you sure?"}, class: "fas fa-trash right-top-icons" %></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col-xs-12 col-sm-6">
        <div class="testing-image block">
          <% if @rocket.photo.blank? %>
          <div class="testing-image block" style="background-image: url( <%= asset_path  'back_up_kim_un_rocket.jpg' %>)">
          </div>
          <% else %>
          <div class="testing-image block" style="background-image: url('<%= @rocket.photo %>')">
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="testing block">
          <div class="description-details-show-rocket">
            <div class="nav-back">
              <p><< </p> <%= link_to "See all", rockets_path %>
            </div>
            <p>Rocket name: <%= @rocket.name %></p>
            <p>Capacity: <%= @rocket.capacity %> passengers</p>
            <p>Destination: <%= @rocket.destination %></p>
            <p>Price: €<%= @rocket.price %></p>
          </div>
          <div class="action-details-show-rocket">
            <%= link_to "Book Now", new_rocket_booking_path(@rocket), class: "button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
