<div class="banner" style="background-image: url('https://images.pexels.com/photos/459475/pexels-photo-459475.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
  <div class="banner-content">
    <h1>Spacial Travel</h1>
    <p>At light speed</p>
    <%=  link_to "Ready for launch ?", rockets_path, class: "btn btn-danger btn-lg"%>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class=threecards>
        <div class="front-card">
          <p>Partnership</p>
        </div>
        <div class="front-description">
          <h2>The White House</h2>
          <p>CNN is always on in the oval office. Except when we play golf. Hey, what's that red button you're trying to hide? Oh, a coockie.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class=threecards>
        <div class="front-card">
          <p>Rocket update</p>
        </div>
        <div class="front-description">
          <h2> Green rockets</h2>
          <p>We care for the environment and communities around us. No, we mean we painted in green and that's it. We send rocket not paper plane. </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class=threecards>
        <div class="front-card">
          <p>A bit of History</p>
        </div>
        <div class="front-description">
          <h2>From Sputnik to Gagarin</h2>
          <p>The R-7 launched the first satellite, Sputnik 1, and later Yuri Gagarin, the first man into space, and the first lunar and planetary probes. This rocket is still in use today.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="prefooter" style="background-image: url('https://images.pexels.com/photos/33684/astronaut-spacewalk-iss-tools.jpg?cs=srgb&dl=astronaut-astronomy-exploration-33684.jpg&fm=jpg');">
</div>

<div class="container-fluid">
  <h2> Our cusotmers are thrilled by our services</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class=business-card>
        <%= image_tag("Lego.png") %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class=business-card>
        <%= image_tag("Boeing.png") %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class=business-card>
        <%= image_tag("cater.png") %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class=business-card>
        <%= image_tag("Redbull.png") %>
      </div>
    </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
      <div class=business-card>
        <%= image_tag("Goldman.png") %>
      </div>
    </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
      <div class=business-card>
        <%= image_tag("JohnDeer.png") %>
      </div>
    </div>
  </div>
</div>

